# MariaDB
MARIADB_ROOT_PASSWORD=rootparool
MARIADB_DATABASE=haaletus
MARIADB_USER=haaletus
MARIADB_PASSWORD=haaletus

# Ports on the host
DB_PORT=3306
PMA_PORT=8081
API_PORT=8000
WEB_PORT=8080

# Backend
VOTE_DURATION_SECONDS=300
